<div [align]="column.align ? column.align : 'right'" [class]="column.containerClass ? column.containerClass : ''">
  <div *ngFor="let data of (rowDataArray ? (rowDataArray| groupBy: column.groupByField) : [data])">
    <span *ngFor='let columnElement of column.elements' [ngSwitch]="columnElement.type">
      <span *ngSwitchCase="'datetime'">
        <tld-date-time-element [columnElement]="columnElement" [data]="data"></tld-date-time-element>
      </span>
      <span *ngSwitchCase="'icon'">
        <tld-icon-element [columnElement]="columnElement" [data]="data"></tld-icon-element>
      </span>
      <span *ngSwitchCase="'image'">
        <tld-image-element [columnElement]="columnElement" [data]="data"></tld-image-element>
      </span>
      <span *ngSwitchCase="'text'">
        <tld-text-element [columnElement]="columnElement" [data]="data"></tld-text-element>
      </span>
      <span *ngSwitchCase="'button'">
        <tld-button-element [columnElement]="columnElement" [data]="data"></tld-button-element>
      </span>
    </span>
  </div>
</div>