<div [attr.id]="column.id | cellFunction: data" [align]="column.align ? column.align : 'right'"
  [class]="column.containerClass ? column.containerClass : ''">
  <div *ngFor="let data of (rowDataArray ? (rowDataArray| groupBy: column.groupByField) : [data])">
    <span *ngFor='let element of column.elements' [ngSwitch]="element.type">
      <span *ngSwitchCase="'datetime'">
        <tld-date-time-element [element]="element" [data]="data"></tld-date-time-element>
      </span>
      <span *ngSwitchCase="'icon'">
        <tld-icon-element [element]="element" [data]="data"></tld-icon-element>
      </span>
      <span *ngSwitchCase="'image'">
        <tld-image-element [element]="element" [data]="data"></tld-image-element>
      </span>
      <span *ngSwitchCase="'text'">
        <tld-text-element [element]="element" [data]="data"></tld-text-element>
      </span>
      <span *ngSwitchCase="'button'">
        <tld-button-element [element]="element" [data]="data"></tld-button-element>
      </span>
    </span>
  </div>
</div>