
<span [class]="element.class"
  [ngClass]="element.getNgClass ? (element.getNgClass | cellFunction: data) : {}"
  [pTooltip]='element.tooltip' tooltipPosition="left">
  <span [ngSwitch]="element.field.constructor.name">
    <span [attr.id]="element.id | cellFunction: data" *ngSwitchCase="'Function'">
      {{element.field | cellFunction: data}}
    </span>
    <span [attr.id]="element.id | cellFunction: data" *ngSwitchCase="'String'">
      <ng-container *ngIf="element.field.indexOf('.') !== -1; else elseTemplate">
        {{data | cellNestedField: element.field}}
      </ng-container>
      <ng-template #elseTemplate>
        {{data[element.field]}}
      </ng-template>
    </span>
  </span>
</span>