<span [ngSwitch]="element.showIcon ? (element.showIcon | cellFunction: data) : undefined">
  <span *ngSwitchCase="undefined">
    <span [ngSwitch]="element.elementField === undefined">
      <span *ngSwitchCase="true">
        <i [ngClass]="element.iconClass ? (element.iconClass | cellFunction: data) : {}" [pTooltip]='this.tooltip'
          tooltipPosition="left" [attr.id]="element.elementId | cellFunction: data"></i>
      </span>
      <span *ngSwitchCase="false">
        <i *ngIf="data[element.elementField.toString()]"
          [ngClass]="element.iconClass ? (element.iconClass | cellFunction: data) : {}" [pTooltip]='this.tooltip'
          tooltipPosition="left" [attr.id]="element.elementId | cellFunction: data"></i>
      </span>
    </span>
  </span>
  <span *ngSwitchCase="true">
    <i [ngClass]="element.iconClass ? (element.iconClass | cellFunction: data) : {}" [pTooltip]='this.tooltip'
      tooltipPosition="left" [attr.id]="element.elementId | cellFunction: data"></i>
  </span>
</span>