
<span [class]="columnElement.class"
  [ngClass]="columnElement.getNgClass ? (columnElement.getNgClass | cellFunction: data) : {}"
  [pTooltip]='columnElement.tooltip' tooltipPosition="left" (click)="columnElement.onClick(data, $event);">
  <span [ngSwitch]="columnElement.field.constructor.name">
    <span [attr.id]="columnElement.id | cellFunction: data" *ngSwitchCase="'Function'">
      {{columnElement.field | cellFunction: data}}
    </span>
    <span [attr.id]="columnElement.id | cellFunction: data" *ngSwitchCase="'String'">
      <ng-container *ngIf="columnElement.field.indexOf('.') !== -1; else elseTemplate">
        {{data | cellNestedField: columnElement.field}}
      </ng-container>
      <ng-template #elseTemplate>
        {{data[columnElement.field]}}
      </ng-template>
    </span>
  </span>
</span>