<span [ngSwitch]="columnElement.pipe">
  <span *ngSwitchCase="'amDateFormat'" [attr.id]="columnElement.id | cellFunction: data"
    [ngClass]="columnElement.getNgClass ? (columnElement.getNgClass | cellFunction: data) : {}">
    {{data[columnElement.field] | amDateFormat:columnElement.format}}
  </span>
  <span *ngSwitchCase="'amTimeAgo'" [attr.id]="columnElement.id | cellFunction: data"
    [ngClass]="columnElement.getNgClass ? (columnElement.getNgClass | cellFunction: data) : {}">
    {{data[columnElement.field] | amTimeAgo}}
  </span>
  <span *ngSwitchCase="'amCalendar'" [attr.id]="columnElement.id | cellFunction: data"
    [ngClass]="columnElement.getNgClass ? (columnElement.getNgClass | cellFunction: data) : {}">
    {{data[columnElement.field] | amCalendar}}
  </span>
</span>