<span [ngSwitch]="element.pipe">
  <span *ngSwitchCase="'amDateFormat'" [attr.id]="element.id | cellFunction: data"
    [ngClass]="element.getNgClass ? (element.getNgClass | cellFunction: data) : {}">
    {{data[element.field] | amDateFormat:element.format}}
  </span>
  <span *ngSwitchCase="'amTimeAgo'" [attr.id]="element.id | cellFunction: data"
    [ngClass]="element.getNgClass ? (element.getNgClass | cellFunction: data) : {}">
    {{data[element.field] | amTimeAgo}}
  </span>
  <span *ngSwitchCase="'amCalendar'" [attr.id]="element.id | cellFunction: data"
    [ngClass]="element.getNgClass ? (element.getNgClass | cellFunction: data) : {}">
    {{data[element.field] | amCalendar}}
  </span>
</span>